In [1]:
import os
current = os.getcwd()
os.chdir('../')

In [5]:
import pandas as pd
os.chdir(current)

path_data = "../data/"
filename = "titanic.csv"


LOGGER.info('Importing data')
df = pd.read_csv(path_data + filename)

2022-11-15 16:05:59,798 - INFO - Importing data

### Utils modules

In [2]:
from module import LOGGER
from module.utils import *

In [13]:
os.chdir(current)
lista = [ 1,2,3,4]
listb = [1,4,5,6,8,7]
listc = [10,11,12,13]
print(f"a: {lista} \nb: {listb}")
print("Intersection: ",list_intersection(lista, listb))
print("Difference: ",list_difference(lista, listb))

a: [1, 2, 3, 4]
b: [1, 4, 5, 6, 8, 7]
Intersection:  [1, 4]
Difference:  [2, 3]

In [16]:
os.getcwd()

'C:\\Users\\a844026\\Desktop\\module-datascience\\notebook'

### Eda

In [ ]:
# df.info()
# df.describe()
# df.isnull().sum()
# null_column_report_df(df) --> utils.py
# df[var].value_counts(True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [23]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
null_column_report_df(df)

Number of columns with null values:
3

     Column  Total_Null_Records  Percent_Null_Records
0       Age                 177                  0.20
1     Cabin                 687                  0.77
2  Embarked                   2                  0.00